#body {
  position: relative;
  top: 150px;
  padding-left: 300px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 300px 300px;
  gap: 100px;
  text-align: center;
}
#body div {
  color: white;
  font-size: 20px;
  border: white 2px solid;
    border-image: linear-gradient(to right, red, orange);
  border-image-slice: 1;

}

#clickedBody {
  padding: 100px;
  font-size: 30px;
  color: white;
  border: 10px transparent solid;
  border-image: linear-gradient(to right, red, orange);
  border-image-slice: 1;
  background-image: linear-gradient(#15133c 1%, black 40%);
  transition: 0.5s;
  position: relative;
  left: 400px;
  width: 700px;
  height: 500px;
  overflow-y: auto;
}

.bodyTitle {
  grid-area: 1 / 1 / span 1 / span 3;
}

#leftBtn {
  display: none;
  position: relative;
  top: -175px;
  left: 150px;
  font-size: 20px;
}

#rightBtn {
  display: none;
  position: relative;
  left: 1450px;
  top: -175px;
  font-size: 20px;
}


@media(max-width:768px){
  #body{  
    padding-left: 30px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 300px 300px 300px;  
  }

.bodyTitle {
  grid-area: 1 / 1 / span 1 / span 2;
}

#clickedBody {
  padding: 100px;
  font-size: 20px;
  left: 45px;
  width: 450px;
  height: 400px;
  overflow-y: auto;
}
}