#footer{
    display: grid;
    color:white;
    font-size: 30px;
    height:100px;
    padding-left: 760px;
    height: 50px;
    white-space:nowrap;
    background-image: linear-gradient(black, #15133c);
  }

#footer a{
  text-decoration: none;
  color: white;
}

@media(max-width:375px){
  #footer{
    padding-left: 310px;
    margin-top: 100px;
    font-size: 20px;
    padding-left: 0px;
    text-align: center;
  }
}