.Header {
  font-size: 30px;
  background-image: linear-gradient(#15133c, black);
  transition: 1s;
  position: fixed; 
  width: 100%;
  z-index: 3;
}

.a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: 1s;
}

#home {
  position: relative;
  left: 100px;
}
#taglist {
  position: relative;
  left: 180px;
}
#search {
  position: relative;
  left: 260px;
}
#login {
  position: relative;
  left: 1150px;
}


@media(max-width : 375px){
  .Header {
    font-size: 20px;
    background-image: linear-gradient(#15133c, black);
    transition: 1s;
    position: fixed; 
    width: 375px;
  }
  #home {
    position: relative;
    left: 45px;
  }
  #taglist {
    position: relative;
    left: 70px;
  }
  #search {
    position: relative;
    left: 95px;
  }
  #login {
    position: relative;
    left: 120px;
  }
}
